# Note Documents
notes.md
cfp.md

# OS files
.DS_Store

# Editor
.vscode/

# Python virtual environment
venv/

# Submission templates
submission_template/

# Social media posts (generated)
social_posts/

# Program committee pictures
assets/program_committee_pictures/